/* Global setup */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}

*{
	box-sizing: border-box;
}

.app{
	max-width: 1024px;
	margin: auto auto;
}

.scheduler{
	position: -webkit-sticky; /* for safari */
	position: sticky;
	top: 10px;
}

.goal-card{
	width:"100%";
    min-width: 300px;
	margin:4px 4px;
}

.goal-card .card-header{
	position: relative;
}

.goal-card .card-header .header-img{
	background-size: cover;
    background-position: center top;
   	height: 230px;
}

.goal-card .card-title{
	text-align: center;
}

.goal-card .card-header .visibility-checkbox {
	position: absolute;
	top: 16px;
	right: 0px;
}

.goal-card .goal-actions{
	text-align: right ;
}

.goal-card .goal-actions .goal-control-action.btn,
.goal-card .goal-actions .goal-control-action.btn{
	 width: 10%;
     display: inline-block;
     margin: auto 1%;
}

.goal-card.goal-changer .task-creator .task-add-action.btn{
	text-align: center;
}

.task-creator{
	position: relative;
}

.task-creator .delete-btn.btn{
	position: absolute;
	top:20px;
	right: 60px;
}

.task-creator .confirm-btn.btn{
	position: absolute;
	top:20px;
	right: 10px;
}

.time-picker-group{
	display: flex;
	justify-content: space-around;
}

.time-picker-group .date-picker,
.time-picker-group .time-picker{
	width: 200px;
}

.empty-card {
	height: 200px;
	line-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-avatar {
	position: relative;
}

.user-avatar .status-node{
	position: absolute;
}
